<h1> Distância entre os pontos. </h1>
<agm-map style="height: 350px;" [latitude]="lat" [longitude]="lng">
  <agm-direction [renderOptions]="renderOptions" [markerOptions]="markerOptions" [origin]="location_origin" [destination]="location_destiny">
  </agm-direction>
</agm-map>

<h1> Buscar pontos por data. </h1>

<input type="date" /> <button (click)="getPosicoesByDate(data)">Buscar por data</button>

<button (click)="tracePath()">Buscar posições</button>
<div *ngFor="let element of destinations" >
  <p>
    Origem: {{element.origin | json }}
  </p>
  <p>
    Destino: {{element.destiny | json }}
  </p>
  <p>
    
  </p>
</div>
<agm-map style="height: 350px;" [latitude]="lat" [longitude]="lng" *ngIf="destinations!=null">
    
  <!--
    <agm-direction *ngFor="let element of destinations" 
    [renderOptions]="renderOptions" 
    [markerOptions]="markerOptions" 
    [origin]="element.origin"
    [destination]="element.destiny">
    </agm-direction>
  -->
</agm-map>